.little-clock{
    zoom: 0.5;
    -moz-transform: scale(0.5)
}

.small-clock {
    position: relative !important;
    padding-top: 0px;
    margin-left: -194px;
    height: 100px;
    width: 800px;
    transform : scale(.54);
    -ms-transform: scale(.54);
   -webkit-transform: scale(.54);
   -o-transform: scale(.54);
   -moz-transform: scale(.54);
}